<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
 <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
  {% include header.html %}
  <main class="page-content" aria-label="Content">
      {{ content }}
  </main>
  {% include footer.html %}
<script>
  const params = new URLSearchParams(window.location.search);
  if (params.get("visit") === "me") {
    if (typeof plausible === "function") {
      plausible("internal_visit", { props: { who: "author" } });
    }
  }
</script>
  
</body>
</html>

